$bg_color:lightseagreen ;
$back_color: #FFFFFF;
$h2_color:#6989ca;
$h3_color:#000033;
$table_color: rgb(0,0,0);
$shadow_color: #968e8e;
$main_color:lightcyan;
$aside_color:rgb(50, 143, 160);
$aside_color_shadow:rgba(93, 101, 148, 0.4);
$modCol_color:lightgoldenrodyellow;
$about_color:aliceblue;
$price_color:blanchedalmond;
$bg_color_tablet:lightblue;
